In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# set working directory
os.chdir('C:/Users/loukanob/Documents/Bias Reduction Passion Project/Python')
os.getcwd()

'C:\\Users\\loukanob\\Documents\\Bias Reduction Passion Project\\Python'

### Scenario 1 - Race as Predictor

In [ ]:
# data1_pos = pd.DataFrame({'Race':[np.repeat('White',47),np.repeat('Non-White',3)], 'Target'})

In [11]:
data1 = pd.read_csv('Scenario 1.csv')

In [12]:
data1.head()

    Race  Target
0  White       0
1  White       0
2  White       0
3  White       0
4  White       0

In [19]:
# pd.pivot_table(data1,values='Target',columns='Race',aggfunc=['count'],margins = True)

           count
Race   Non-white All White All
Target        10   1    90   1

In [13]:
data1.Race.value_counts()

White        90
Non-white    10
Name: Race, dtype: int64

In [24]:
data1[data1.Target==1].groupby('Race').count()

           Target
Race
Non-white       3
White          47

In [26]:
X = data1['Race']
y = data1['Target']

In [30]:
X = pd.get_dummies(X,drop_first=True)

In [25]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=42)

In [31]:
clf.fit(X,y)

DecisionTreeClassifier(random_state=42)

In [34]:
preds = clf.predict(X)

In [33]:
data1[(data1.Target==1) & (data1.Race == 'White')].shape[0] /data1[data1.Target==1].shape[0]

0.94

In [37]:
preds[(preds==1) & (data1.Race == 'White')].shape[0] /preds[preds==1].shape[0]

1.0

In [ ]:
# 94% of positive class in training data is white, compared to 100% in predicted values

### Scenario 2 - Race not included

In [39]:
data2 = pd.read_csv('Scenario 2.csv')

In [41]:
data2.head()

  Wealth   Race  Target
0   High  White       1
1   High  White       1
2   High  White       1
3   High  White       1
4   High  White       1

In [42]:
data2.Target.value_counts()

1    100
0    100
Name: Target, dtype: int64

In [43]:
data2.Wealth.value_counts()

Low     100
High    100
Name: Wealth, dtype: int64

In [44]:
data2.Race.value_counts()

White        100
Non-white    100
Name: Race, dtype: int64

In [46]:
X2 = pd.get_dummies(data2['Wealth'],drop_first=True)
y2 = data2['Target']

In [47]:
clf2 = clf = DecisionTreeClassifier(random_state=42)

In [48]:
clf2.fit(X2,y2)

DecisionTreeClassifier(random_state=42)

In [49]:
preds2 = clf2.predict(X2)

In [50]:
data2[(data1.Target==1) & (data2.Race == 'White')].shape[0] /data2[data2.Target==1].shape[0]

0.11

In [53]:
preds2[(preds2==1) & (data2.Race == 'White')].shape[0] /preds2[preds2==1].shape[0]

0.6

In [54]:
# 11% of positive class in training data is white, compared to 60% in predicted values